body{
           
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    background-color: rgb(42, 40, 40);
}
    .container {
        padding-left: 15px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px 5px rgb(55, 30, 29);
    width: 45%; 
    background-color: black;
    text-align: left;
}

    h3, p {

margin: 0;
padding: 0;
}
h3{
    color: rgb(245, 220, 220);
}
p{
    color: rgb(182, 94, 94);
}

h1{
    text-align: center;
    color: rgb(182, 66, 66);
    font-size: 2.5em;
    margin-bottom: 0;
}

h2{
    color: rgb(182, 66, 66);
    text-align: left;
}
hr{
margin-right: 15px; 
border-color: rgb(138, 70, 70);
}
img{
    float: left;
    clip-path: circle(50%);
    shape-outside: circle(50%);
    width: 145px;
    margin: 10px;
    height: 145px;
    border: solid rgb(154, 6, 6) 5px ;
    border-radius: 50%;
}
h2::first-letter{
    font-size: 40px;
}
